<br>
<h2 class="display-4 text-center">Potin n°<%= @gossip.id%></h2>
<p class="lead text-center">
  ici tu pourras éditer facilement le potin que tu cherchais.
</p>

<hr width="75%" color=white>
<br><br>

<%= form_for @gossip do |gossip| %>
  <div class="card bg-light mx-auto text-center shadow bg-light rounded" style="max-width: 40rem;">
    <div class="card-header">Titre: <%= gossip.text_field :title %></div>
    <div class="card-body">
      <h5 class="card-title">Contenu:</h5>
      <%= gossip.text_field :content %>
      <hr width="30%" color=white>
      <p class="card-text text-muted">Auteur: <%= @gossip.user.first_name + ' ' + @gossip.user.last_name%></p>
      <hr width="30%" color=white>
      <p class="card-text text-muted">Ville: <%= @gossip.user.city.name%></p>
      <hr width="30%" color=white>
      <%= submit_tag "Mettre à jour", :class => "btn btn-info"%>
    </div>
  </div>
<% end %>

<br>
<div class="text-center"><%= link_to "Retour à la page principal", root_path, :class => "btn btn-secondary btn-sm link"%></div>
