
<br>

<h2 class="display-4 text-center">Se connecter</h2>
<p class="lead text-center">
  ici vous pouvez facilement vous connecter à votre compte.
</p>

<hr width="75%" color=white>

<br>

<div class="mx-auto" style="width: 400px">
  <%= form_tag url_for(action: 'create'), method: "post", class: "text-center" do %>

      <%= text_field_tag 'email', nil, type: "email", class: "form-control mb-3", placeholder: "E-mail" %>

      <%= text_field_tag 'password', nil, type: "password", class: "form-control mb-4", placeholder: "Mot de passe" %>

      <%= submit_tag "Connection", class: "btn btn-info btn-block my-4", type: "submit" %>

      <p>Pas encore de compte ?
          <%= link_to 'Inscrivez-vous', new_user_path %>
      </p>

  <% end %>
</div>
