<br>
<% if current_user %>
<h2 class="display-4 text-center">Bienvenue <%= current_user.first_name %></h2>
<% else %>
<h2 class="display-4 text-center">Bienvenue sur la page des potins</h2>
<% end %>
<p class="lead text-center">
  ici tu pourras retrouver tous les potins du site internet.
</p>

<hr width="75%" color=white>
  <% if current_user %>
    <div class="text-center"><%= link_to "Créez votre potin", new_gossip_path, :class => "btn btn-info link"%></div>
  <% else %>
    <div class="text-center">
      <button class="btn btn-info disabled">Créez votre potin</button>
    </div>
  <% end %>
<hr width="75%" color=white>
<br>
<div class="container">
     <div class="row">
       <% @gossips.order(:id).reverse.each do |gossip| %>
         <div class="col-md-4">
           <div class="card text-center shadow bg-light rounded" style="width: 20rem;">
             <div class="bg-light">
               <div class="card-header"><%= link_to gossip.title, gossip_path(gossip.id), :class => "link text-dark"%></div>
               <div class="card-body">
                 <h5 class="card-title"><%= gossip.content %></h5>
                 <footer class="blockquote-footer"><%= link_to gossip.user.first_name + ' ' + gossip.user.last_name, user_path(gossip.user.id), :class => "link text-dark"%></footer>
               </div>
             </div>
           </div> <br>
         </div>
       <% end %>
     </div>
</div>
